<a href="https://colab.research.google.com/github/AlexanderGarifullin/hse-ml-basics/blob/master/Week1_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
# скачиваем файл
!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1cq9JDz8-zwzoGL6udiT_ogHHRWdnsd1q' -O math_students.csv

--2024-03-15 10:31:57--  https://docs.google.com/uc?export=download&id=1cq9JDz8-zwzoGL6udiT_ogHHRWdnsd1q
Resolving docs.google.com (docs.google.com)... 209.85.200.113, 209.85.200.139, 209.85.200.100, ...
Connecting to docs.google.com (docs.google.com)|209.85.200.113|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1cq9JDz8-zwzoGL6udiT_ogHHRWdnsd1q&export=download [following]
--2024-03-15 10:31:57--  https://drive.usercontent.google.com/download?id=1cq9JDz8-zwzoGL6udiT_ogHHRWdnsd1q&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 108.177.111.132, 2607:f8b0:4001:c07::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|108.177.111.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 42379 (41K) [application/octet-stream]
Saving to: ‘math_students.csv’

math_students.csv   100%[===================>]  41.39K  --.-KB/s    in 0s

2024-03-15 10:31:57 (81.9 MB/s) - ‘math_students.csv’ saved [42379/42379]

In [31]:
import pandas as pd
data = pd.read_csv('math_students.csv', delimiter=',')

1. Какая причина выбора школы была самой частой? В качестве ответа приведите соответствующее значение признака.

In [32]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [33]:
data['reason'].value_counts()

course        145
home          109
reputation    105
other          36
Name: reason, dtype: int64

In [34]:
print('course')

course

2. Найдите количество студентов, у родителей которых нет никакого образования.

In [39]:
len(data[(data['Medu'] == 0) & (data['Fedu'] == 0)])

0

3. Найдите минимальный возраст учащегося школы Mousinho da Silveira.

In [40]:
data[data['school'] == 'MS']['age'].min()

17

4. Найдите количество студентов, имеющих нечетное число пропусков.

In [42]:
len(data[data['absences'] % 2 == 1])

41

5. Найдите разность между средними итоговыми оценками студентов, состоящих и не состоящих в романтических отношениях. В качестве ответа приведите число, округленное до двух значащих цифр после запятой.

In [47]:
print(round(data[data['romantic'] == 'yes']['G3'].mean() - data[data['romantic'] == 'no']['G3'].mean(), 2))

-1.26

6. Сколько занятий пропустило большинство студентов с самым частым значением наличия внеклассных активностей?

*Примечание. В данном контексте под "большинством" подразумеваются студенты, имеющее самое частое значение пропусков. То есть в данном задании необходимо:*


* *Определить самое частое значение наличия внеклассных активностей (да или нет).*
* *Для группы студентов, соответствующей этому значению, рассмотреть значения признака «число пропусков».*
* *Для каждого значения числа пропусков посчитать, сколько студентов ему соответствует.*
* *Выбрать значение числа пропусков с наибольшим числом студентов.*

In [48]:
data['activities'].value_counts()

yes    201
no     194
Name: activities, dtype: int64

In [49]:
data[data['activities']=='yes']['absences'].value_counts()

0     51
2     37
4     29
6     17
8     16
10     9
14     7
16     4
3      4
15     3
7      3
12     3
11     2
9      2
1      2
20     2
18     2
56     1
13     1
22     1
30     1
54     1
25     1
17     1
5      1
Name: absences, dtype: int64

In [50]:
print(0)

0